<div [@slideInOut]="open ? 'in': 'out' + position"
	 [ngClass]="position"
	 [style.width]="width"
	 [style.top]="padding"
	 [style.zIndex]="header ? 60 : 10"
	 class="sidebar">
	<div *ngIf="header" class="sidebar__header">
		<h3>
			<i [class]="'fa ' + headerIcon" *ngIf="headerIcon"></i>
			{{ header }}
		</h3>
		<span style="flex: 1 1 auto"></span>
		<button (click)="$event.preventDefault()"
				class="ui-button-secondary"
				stoButton icon="fa-external-link"></button>
		<button stoButton icon="fa-times" type="button"
				class="ui-button-secondary"
				(click)="toggle(); onToggle.emit(true)">
		</button>
	</div>
	<div class="sidebar__content">
		<ng-content></ng-content>
	</div>
</div>