@import "../../variables";
@import "../../style/functions";

$header-height: 74px;
$large-header-height: spacer(24);
$footer-height: spacer(16);
$header-size: 20px;

.large-header {
  .sto-drawer__content {
    height: calc(100% - calc(#{$large-header-height} + #{$footer-height}));
  }
  .sto-drawer__header {
    line-height: 30px;
    height: $large-header-height;
  }
}

.sto-drawer {
  @include mat-elevation(16);
  background: $gray-lighter;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 260px;
  padding-top: $header-height;
  &.right {
    min-width: 450px;
  }
  z-index: 30;

  &.right {
    left: auto;
    right: 0;
  }

  &.left {
    left: 0;
    right: auto;
  }
}

.large-header {
  .sto-drawer {
    padding-top: $large-header-height;
  }
}

.sto-drawer__content {
  padding: spacer(2);
  overflow-y: auto;
  &.navigation {
    height: 100%;
  }
}

.sto-drawer__footer {
  @include mat-elevation(4);
  position: absolute;
  border-top: solid 1px $gray-medium;
  bottom: 0;
  left: 0;
  padding: spacer(2);
  width: 100%;

  background-color: $gray-light;
  height: calc(#{$footer-height} - spacer(4));

  button {
    text-transform: uppercase;
  }

  &__more {
    float: right;
  }
}

.sto-drawer__header__wrapper {
  @include mat-elevation(4);
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0 spacer(2) 0 spacer(4);
  color: $white-light;
  background-color: $black-medium;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: $header-height;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

}

.sto-drawer__header{
  display: flex;
  height: 25px;
  width: 100%;

  &__title, h1, h2, h3, h4 {
    font-family: 'statoilsans_medium';
    font-size: $header-size;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }

  &__suffix{
    width: 100%;
    text-align: right;

    color: rgba(255, 255, 255, 0.87);
  }

  &__infix{
    min-width: 52px;
    color: rgba(255, 255, 255, 1);
  }
  button.mat-icon-button {
    height: 24px;
    width: 24px;
    line-height: 24px;
    background-color: transparent;

    border: 0;
    outline: none;
    cursor: pointer;
    :hover{
      color: #ccc;
    }
  }
}


.sto-navigation{
  .mat-list {
    .mat-subheader {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.54);
      padding: 8px;
    }
  }
}