@import "../../variables";
@import "../../style/functions";

$header-height: 2.7em;
$footer-height: 3.8em;


.sto-drawer{
  @include mat-elevation(4);
  background: #fff;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 260px;
  z-index: 30;

  &__card{
    margin-bottom: spacer(4);

    &__title{
      border-bottom: 1 solid $gray-dark;

    }
  }

  &.right {
    left: auto;
    right: 0;
  }

  &.left {
    left: 0;
    right: auto;
  }
}


.sto-drawer__content  {
  padding: spacer(4) spacer(4);
  overflow-y: auto;
  height: calc(100% - calc(#{$header-height} + #{$footer-height}));
  &.navigation {
    height: 100%;
  }
}

.sto-drawer__footer {
  position: absolute;
  bottom: 0;
  padding: spacer(2);
  width: 100%;
  height: $footer-height;
}


.sto-drawer__header {
  background-color: lightgrey;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: $header-height;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  text-transform: capitalize;
  button {
    background-color: transparent;
    color: #828282;
    border: 0;
    outline: none;
  }
}

