@import "theme";
@import "typography";

@mixin sto-appheader-theme($theme, $variables) {
  $primary: map_get($variables, primary);
  $accent: mat-color(map_get($theme, accent), resting);
  $hover-accent: mat-color(map_get($theme, accent), hover);
  $color: map_get($variables, color);
  $border-color: map_get($variables, border-color);
  $background-color: map_get($variables, card-bg);
  $hover-bg-color: map_get($variables, hover-bg);
  $selected-color: map_get($variables, selected-bg);
  //$warning-color: map_get($variables, warning);
  $warning-color: #FF9200;
  $icon-color: map_get($variables, icon);
  $hover-color: map_get($variables, hover-color);

  .sto-header {
    background-color: $background-color !important;
    //color: $color !important;

    &--test-environment {
      border: 4px solid $warning-color;
    }

    &__environment--label {
      background: $warning-color;
    }

    button {
      &:focus {
        background-color: $selected-color;
      }

      &:hover {
        background-color: $hover-bg-color;
      }
    }

    &__actions--small {
      background: $background-color;
    }
  }

  .sto-breadcrumb {
    &__home {
      color: $icon-color;

      &:hover {
        color: $hover-color;
      }
    }

    &__list__item {
      color: $accent;

      &:hover {
        color: $hover-accent;
      }
    }

    .separator {
      color: rgba($accent, 0.3);
    }
  }

}

// Include theme styles for your custom components.
body:not(.sto-dark-theme) {
  @include sto-appheader-theme($sto-theme, $variables);
}

.sto-dark-theme {
  @include sto-appheader-theme($sto-dark-theme, $dark-variables);
}

@mixin app-header-typography($config, $height) {
  .app-wrapper {
    margin: $height auto 0;
  }
  .sto-header {
    height: $height;
    font-size: mat-font-size($config, subheading-2);
    line-height: mat-line-height($config, subheading-2);

    .mat-icon {
      font-size: mat-font-size($config, title);
      line-height: mat-font-size($config, title);
      width: mat-font-size($config, title);
      height: mat-font-size($config, title);
    }

    &__environment {
      height: $height;
      top: -4px;
    }
  }
  .sto-breadcrumb {
    font-size: mat-font-size($config, subheading-2);
    line-height: mat-line-height($config, subheading-2);

    .mat-icon {
      font-size: mat-font-size($config, title);
      line-height: mat-font-size($config, title);
      width: mat-font-size($config, title);
      height: mat-font-size($config, title);
    }
  }
}

.mat-typography:not(.sto-sm-typography):not(.sto-l-typography) {
  @include app-header-typography($sto-typography, 64px);
}

.mat-typography.sto-sm-typography {
  @include app-header-typography($sto-sm-typography, 48px);
}

.mat-typography.sto-l-typography {
  @include app-header-typography($sto-l-typography, 64px);
}
