@import '~@angular/material/theming';
@import "../colors";

$sto-primary: (
  main: #007079,
  lighter: #b3d4d7,
  darker: #00535c,
  200: #007079, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$sto-primary-dark: (
  main: #00bfce,
  lighter: #b3ecf0,
  darker: #00a9bc,
  200: 00 bfce,
  contrast: (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$sto-dark-accent: (
  highlight: rgba(255, 255, 255, 0.1),
  resting: #DEE5E7,
  hover: #FFFFFF,
  200: #d5eaf4, // For slide toggle,
  contrast : (
    highlight: $light-primary-text,
    resting: $dark-primary-text,
    hover: $dark-primary-text,
  )
);

$sto-accent: (
  highlight: #d5eaf4,
  resting: #243746,
  hover: #18252F,
  200: #243746, // For slide toggle,
  contrast : (
    highlight: $dark-primary-text,
    resting: $dark-primary-text,
    hover: $light-primary-text,
  )
);

$sto-indicator: (
  warning : #FF9200,
  success : #358132,
  danger: #EB0000,
  contrast: (
    warning : $light-primary-text,
    success : $light-primary-text,
    danger: $light-primary-text,
  )
);
