@import "theme";
@import "typography";

@mixin sto-message-panel-theme($theme, $variables) {
  $primary: map_get($variables, primary);
  $accent: map_get($variables, accent);
  $primary-contrast: map_get($variables, primary-contrast);
  $accent-contrast: map_get($variables, accent-contrast);
  $color: map_get($variables, color);
  $border-color: map_get($variables, border-color);
  $icon-color: map_get($variables, icon);

  .sto-message-panel {
    color: $color;
    border-color: $border-color;

    .mat-icon {
      color: $icon-color;
    }

    &.mat-primary {
      background-color: $primary;
      color: $primary-contrast;

      .mat-icon {
        color: $primary-contrast;
      }
    }

    &.mat-accent {
      background-color: $accent;
      color: $accent-contrast;

      .mat-icon {
        color: $accent-contrast;
      }
    }
  }
}

// Include theme styles for your custom components.
@include sto-message-panel-theme($sto-theme, $variables);

.sto-dark-theme {
  @include sto-message-panel-theme($sto-dark-theme, $dark-variables);
}

