@import "~@angular/material/theming";

@function theme_variables($theme) {
  $primary-palette: map-get($theme, primary);
  $primary: mat-color($primary-palette);
  $primary-contrast: mat-contrast($primary-palette, main);
  $accent-palette: map-get($theme, accent);
  $accent: mat-color($accent-palette, highlight);
  $accent-contrast: mat-contrast($accent-palette, main);
  $warn-palette: map-get($theme, warn);
  $warn: mat-color($warn-palette);
  $warn-contrast: mat-contrast($warn-palette, main);
  $indicators: map-get($theme, indicators);
  $error: mat-color($indicators, error);
  $warning: mat-color($indicators, warning);
  $success: mat-color($indicators, success);


  $foreground: map-get($theme, foreground);
  $color: mat-color($foreground, text);
  $secondary: mat-color($foreground, secondary-text);
  $disabled: mat-color($foreground, disabled-text);
  $icon: mat-color($foreground, icon);
  $icon-hover: rgba($icon, 0.8);

  $background: map-get($theme, background);
  $background-color: map-get($background, background);
  $card-bg: map_get($background, card);
  $hover-bg-color: mat-color($background, 'hover');
  $hover-color: mat-color($foreground, slider-off-active);
  $selected-color: mat-color($background, hover, 0.12);
  $border-color: mat-color($foreground, divider);
  $app-bar: mat-color($background, 'app-bar');

  @return (
    primary: $primary,
    accent: $accent,
    primary-contrast: $primary-contrast,
    accent-contrast: $accent-contrast,
    warn: $warn,
    warn-contrast: $warn-contrast,
    color: $color,
    secondary: $secondary,
    disabled: $disabled,
    background: $background-color,
    hover-bg: $hover-bg-color,
    selected-bg: $selected-color,
    border-color: $border-color,
    success: $success,
    error: $error,
    warning: $warning,
    app-bar: $app-bar,
    icon: $icon,
    icon-hover: $icon-hover,
    hover-color: $hover-color,
    card-bg: $card-bg
  )
}
