@import '~@angular/material/theming';
@import "../../../../../eds-tokens/heading";

$sto-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(13px, 1.333em, 400),
  $body-2: mat-typography-level(14px, 24px, 400),
  $button: mat-typography-level(16px, 14px, 500),
  $headline: mat-typography-level(2.000rem, 1.5000em, 400),
  $title: mat-typography-level(1.75rem, 1.429em, 400),
  $subheading-2: mat-typography-level(13px, 1.667em, 400),
  $subheading-1: mat-typography-level(1.250rem, 1.600em, 400),
  $input: mat-typography-level(1rem, 1.333, 400, 0.025em)
);

$sto-sm-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(10px, 1.333em, 400),
  $body-2: mat-typography-level(14px, 24px, 400),
  $button: mat-typography-level(12px, 14px, 500),
  $headline: mat-typography-level(1.75rem, 1.5000em, 400),
  $title: mat-typography-level(1.5rem, 1.429em, 400),
  $subheading-2: mat-typography-level(1.250rem, 1.667em, 400),
  $subheading-1: mat-typography-level(1.125rem, 1.600em, 400),
  $input: mat-typography-level(1rem, 1.333, 400, 0.025em)
);

$sto-l-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(16px, 1.333em, 400),
  $body-2: mat-typography-level(14px, 24px, 400),
  $button: mat-typography-level(16px, 14px, 500),
  $headline: mat-typography-level(2.000rem, 1.5000em, 400),
  $title: mat-typography-level(1.75rem, 1.429em, 400),
  $subheading-2: mat-typography-level(1.5rem, 1.667em, 400),
  $subheading-1: mat-typography-level(1.250rem, 1.600em, 400),
  $input: mat-typography-level(1rem, 1.333, 400, 0.025em)
);


