@import '~@angular/material/theming';
@import "../../../../../eds-tokens/heading";

$base-font-size: 13px;
$sm-font-size: 10px;
$l-font-size: 16px;

$sto-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(13px, 20px, 400),
  $body-2: mat-typography-level(13px, 20px, 400),
  $button: mat-typography-level(16px, 24px, 500),
  $headline: mat-typography-level(28px, 44px, 400),
  $title: mat-typography-level(24px, 32px, 400),
  $subheading-2: mat-typography-level(20px, 28px, 400),
  $subheading-1: mat-typography-level(16px, 24px, 400),
  $input: mat-typography-level(13px, 1.333, 400, 0.025em)
);

$sto-sm-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(10px, 16px, 400),
  $body-2: mat-typography-level(10px, 16px, 400),
  $button: mat-typography-level(12px, 16px, 500),
  $headline: mat-typography-level(24px, 40px, 400),
  $title: mat-typography-level(20px, 28px, 400),
  $subheading-2: mat-typography-level(16px, 24px, 400),
  $subheading-1: mat-typography-level(12px, 20px, 400),
  $input: mat-typography-level(10px, 1.333, 400, 0.025em)
);

$sto-l-typography: mat-typography-config(
  $font-family: 'Equinor, Roboto',
  $body-1: mat-typography-level(16px, 24px, 400),
  $body-2: mat-typography-level(18px, 24px, 400),
  $button: mat-typography-level(16px, 24px, 500),
  $headline: mat-typography-level(32px, 48px, 400),
  $title: mat-typography-level(28px, 40px, 400),
  $subheading-2: mat-typography-level(24px, 40px, 400),
  $subheading-1: mat-typography-level(20px, 32px, 400),
  $input: mat-typography-level(16px, 1.333, 400, 0.025em)
);
