//Base
$space: 4px;
$space-2x: $space*2;
$space-3x: $space*3;
$space-4x: $space*4;
$space-6x: $space*6;
$space-8x: $space*8;

$font-size: 13px;
$font-weight-normal: 400;
$border: 0.3px solid $gray-medium;


