$filter-spacing: 1rem;
$filter-min-width: $filter-spacing*12;

.sto-filter-form{
  @extend .form-inline;
  @extend .well;
  @extend .well-sm;
  margin: 0rem;
  box-shadow: none;
  border-radius: 0;
  border-color: #c7c7c7;
  background-color: white;
}

.sto-filter-group{
  @extend .form-group;
  margin-right: $filter-spacing;

  &__dateinput{
    @extend .input-group;
  }
  &__input, &__select {
    @extend .form-control;
    min-width: $filter-min-width;
  }

  &__label{
    margin-right: $filter-spacing / 2;
    font-weight: 500;
  }

  &__input--readonly{
    @extend .sto-filter-group__input;
    &[readonly]{
      text-align: center;
      background-color: white;
      width: 5em;
    }
  }
}
