@import '../../variables';

$sto-filter-border-color: #ededed;
$sto-filter-header-bg: #ededed;
$sto-filter-header-font-size: 18px;
$sto-filter-header-line-height: 24px;
$sto-filter-header-elevation: 4;

.sto-filter{
  box-shadow: none !important;
  border: solid 1px $sto-filter-border-color;

  .mat-expansion-panel-header{
    @include mat-elevation($sto-filter-header-elevation);
    padding: 0 $space-4x;
    background-color: $sto-filter-header-bg;
    cursor: default;

    &.mat-expanded{
      &:focus, &:hover{
        background-color: $sto-filter-header-bg;
      }
    }
    font-size: $sto-filter-header-font-size;
    line-height: $sto-filter-header-line-height;

    &-title{
      align-items: center;
    }
  }
  .mat-expansion-panel-content{

  }
  .mat-expansion-panel-body{
    padding:  $space-8x $space-4x  ;
  }

  .mat-expansion-panel-header[aria-disabled=true]{
    color: inherit;
  }
}

.sto-filter-table-actions{

  padding: 0 $space-2x;

}
.sto-filter-actions{
  border-left: solid 1px $gray-medium;
  padding: 0 0 0 $space-4x;
}

.sto-filter-table-actions, .sto-filter-actions {
  display: flex;
  align-items: center;
  color: $gray-dark;
  .mat-icon{
    cursor: pointer;
  }
}


.sto-filter-form{
  .mat-select,.mat-form-field{
    width: 100%;
  }
}