@import '../../variables';

$sto-filter-border-color: #ededed;
$sto-filter-header-bg: #ededed;
$sto-filter-header-font-size: 18px;
$sto-filter-header-line-height: 24px;
$sto-filter-header-elevation: 2;

.sto-filter{

  box-shadow: none !important;
  border: solid 1px $sto-filter-border-color;
  .mat-expansion-panel{
    border-radius: 2px;
  }
  .mat-expansion-panel-header{
    @include mat-elevation($sto-filter-header-elevation);
    padding: 0 $space-3x;
    background-color: $sto-filter-header-bg;
    cursor: default;

    &.mat-expanded{
      &:focus, &:hover{
        background-color: $sto-filter-header-bg;
      }
    }
    font-size: $sto-filter-header-font-size;
    line-height: $sto-filter-header-line-height;

    &-title{
      align-items: center;
    }
  }
  .mat-expansion-panel-content{

  }

  .mat-expansion-panel-body{
    padding:  $space-8x $space-4x 0 $space-4x;
    margin: 0;
  }

  .mat-expansion-panel-header[aria-disabled=true]{
    color: inherit;
  }
}

.sto-filter-table-actions{

  padding: 0 $space-2x;

}
.sto-filter-actions{
  padding: 0 0 0 $space-2x;
}
sto-filter-actions {
  height: 32px;
}

.sto-filter-table-actions, .sto-filter-actions {
  display: flex;
  align-items: center;
  color: $gray-dark;
  .mat-icon{
    cursor: pointer;
  }
}


.sto-filter-form{
  .mat-select,.mat-form-field{
    width: 100%;
  }

  .mat-select-trigger{
    height: inherit;
  }
}

.mat-expansion-panel-header{
  border-radius: 2px;
}



  .mat-button-toggle-standalone{
      width: 32px;
    height: 32px;

    .mat-button-toggle-label{
      margin: 0;
    }
    .mat-button-toggle-label-content{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

.separator{
  display: inline-block;
  width: 1px;
  background-color: $gray-medium;
  height: 24px;
  margin: spacer(2) spacer(1);
}
.content-wrapper{
  display:flex;
}