<mat-expansion-panel [disabled]="true" [expanded]="expanded" [hideToggle]="true" [ngClass]="{'sto-filter' : true}">
  <mat-expansion-panel-header  [expandedHeight]="'40px'" [collapsedHeight]="'40px'" >
    <mat-panel-title>
      <ng-content select="sto-filter-title"></ng-content>
    </mat-panel-title>
    <ng-content select="sto-filter-table-actions"></ng-content>
    <sto-filter-actions-bar *ngIf="expandable" [expanded]="expanded" [expandable]="expandable" (toggle)="toggle()">
       <ng-content select="sto-filter-actions"></ng-content>
    </sto-filter-actions-bar>
  </mat-expansion-panel-header>
  <div class="sto-filter-form">
    <ng-content></ng-content>
  </div>
</mat-expansion-panel>

