.sto-slide-toggle{
    position: absolute;
    top: -6px;
    right: 4px;
}

.sto-slide-toggle__input{
    pointer-events: none;
}

// If multiple errors, we need to have separate lines per error. Previously it would directly append them on one line
.mat-error span {
    display: inherit;
}