<mat-form-field #formField
				[attr.tabIndex]="disabled ? -1 : 0"
                class="sto-form__field"
				[floatPlaceholder]="floatPlaceholder"
				[class.sto-form__field--disabled]="disabled"
				[class.sto-form__field--readonly]="readonly"
				[class.sto-form__field--without-placeholder]="withoutPlaceHolder"
				[class.mat-form-field-invalid]="touched && errors"
                (focus)="onFocus($event, input)"
                (blur)="onBlur($event, input)"
                (click)="toggle($event,slider, input)"
                (keydown.enter)="toggle($event,slider, input)"
                (keydown.space)="toggle($event,slider, input)"
>
  <mat-label>{{label}}</mat-label>
  <input #input="matInput"
		 matInput [value]="slider.checked | yesNo"
		 class="sto-slide-toggle__input"
		 readonly
         tabindex="-1"
         [disabled]="disabled"
  >
  <mat-slide-toggle
		class="sto-slide-toggle"
		[formControl]="control"
		tabindex="-1"
		#slider
		[disabled]="disabled"
  >
  </mat-slide-toggle>
</mat-form-field>