
@import "variables";
@import "mixins";
@import "vendor/bootstrap/scaffolding";
@import "vendor/bootstrap/normalize";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/forms";
@import "vendor/primeface/_new_primeface";

//@import "vendor/primeface/_primeface";
//@import "vendor/bootstrap/_bootstrap";
//@import "vendor/primeface/_primeface-theme";

@import "components/sto-button/sto-button.directive";
@import "components/sto-tooltip/sto-tooltip.directive";
@import "components/sto-inputtext/sto-inputtext.directive";
@import "components/sto-inputtextarea/sto-inputtextarea.directive";
@import "components/sto-password/sto-password.directive";

@import "components/sto-datatable-advanced/ngx-datatable";


@import "components/sto-filter/sto-filter-panel.component";

.sto-datatable-wrapper{
  background-color: white;

  @include mat-elevation(3);
}
.mat-select-placeholder{
  font-size: $font-size;

  &.mat-floating-placeholder{
    top: -18px !important;
  }
}
.mat-select-trigger{
  height: 2.4vh !important;
  min-height: 23px !important;
  margin-bottom: -1px;
}

.horizontal {
  mat-form-field {
    width: 100%;
  }
}