@import "style/functions";
@import "variables";
@import "mixins";
@import "vendor/bootstrap/forms";

//body
body {
  background-color: $gray-lighter;
  margin-left: 0;
  margin-right: 0;

}
*{
  box-sizing: border-box;
}

@import "components/sto-button/sto-button.directive";
@import "components/sto-tooltip/sto-tooltip.directive";
@import "components/sto-inputtext/sto-inputtext.directive";
@import "components/sto-inputtextarea/sto-inputtextarea.directive";
@import "components/sto-password/sto-password.directive";

@import "components/sto-datatable-advanced/ngx-datatable";
@import "components/sto-filter/sto-filter-panel.component";
@import "components/sto-directives/edit-mode.directive";

.sto-datatable-wrapper {
  background-color: white;
  border-radius: 2px;
  @include mat-elevation(2);

  .sto-panel-content{
    border-radius: 2px;
  }

}

.horizontal {
  mat-form-field {
    width: 100%;
  }
}

//Mo to buttons
.mat-button, .mat-raised-button {
  text-transform: uppercase;
}

//move to sub
.stoui-dialog .mat-dialog-container {
  padding: 0;
  .mat-dialog-title {
    padding: 24px 24px 0 24px;
    margin-bot: -4px;
  }
  .mat-dialog-content {
    padding: 24px;
    margin: 0;
    p {
      margin-bottom: 0;
    }
  }
  .mat-dialog-actions {
    padding: 8px;
  }
  .mat-dialog-actions:last-child {
    margin-bottom: 0;
  }
}

.sto-form-field--readonly{
  .mat-form-field-underline{
    visibility: hidden;
  }
}

.sto-form {

  .mat-form-field {
    margin-top: 8px;
    height: 72px;
  }
  .mat-form-field-subscript-wrapper {
    font-size: 10px;
    margin: 6px 0;
  }
  .mat-form-field-infix {
    padding: 8px 0;
  }
  .mat-form-field-invalid .mat-form-field-ripple{
    height: 2px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}