@import "style/functions";
@import "variables";
@import "mixins";
@import "style/theme";
@import "style/animations";

@import "components/sto-datatable-advanced/ngx-datatable";
@import "components/sto-filter/sto-filter-panel.component";
@import "components/sto-directives/edit-mode.directive";

label {
  max-width: 100%;
}

span.spacer {
  flex-grow: 1;
}

//body
body {
  background-color: $gray-lighter;
  margin-left: 0;
  margin-right: 0;

}
*{
  box-sizing: border-box;
}
// Styles to remove arrows from number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; // Apparently some margin is still there even though it's hidden
}

.sto-datatable-wrapper {
  background-color: white;
  border-radius: 2px;
  @include mat-elevation(2);

  .sto-panel-content{
    border-radius: 2px;
  }

}

.horizontal {
  mat-form-field {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
Below styles overrides Angular Material defaults
 */


.cdk-overlay-container {
  z-index: 9999 !important; // !important, as it needs to override Angular Material styles
}
// CSS to avoid text-wrapping. In this case, "Toggle Filter Panel" tooltip
.mat-tooltip.nowrap {
  white-space: nowrap;
}
.mat-tooltip {
  line-height: 13px;
}


//Mo to buttons
.mat-button, .mat-raised-button {
  text-transform: uppercase;
}

// Material menu overrides
.mat-menu-item.active {
  color: $primary-color;
}


.mat-menu-panel.large {
  /**
  ** Per https://material.io/guidelines/components/menus.html: width should be a multiple of 56
  ** Without this width, the menu will be to slim, and crop the inner content
  ** Default 280px
   */
  max-width: 336px;
}

.mat-menu-item[disabled] .mat-icon {
  color: currentColor;
}

.mat-menu-item {
  &.dense {
    height: 36px; // !important;
    line-height: 36px; // !important;
  }
  .mat-icon {
    height: 24px; // hack to align svg icons
    width: 18px;
    font-size: 18px;
  }
}
// End material menu overrides

//move STO-dialog
.stoui-dialog .mat-dialog-container {
  padding: 0;
  .mat-dialog-title {
    padding: 24px 24px 0 24px;
    margin-bot: -4px;
  }
  .mat-dialog-content {
    padding: 24px;
    margin: 0;
    p {
      margin-bottom: 0;
      white-space: pre-line;
    }
  }
  .mat-dialog-actions {
    padding: 8px;
  }
  .mat-dialog-actions:last-child {
    margin-bottom: 0;
  }
}
//END STO-DIALOG

//STO FORM
mat-form-field {
  .mat-input-suffix.mat-form-field-suffix {
    button.mat-icon-button {
      mat-icon {
        font-size: 1rem;
        color: $black-light;
      }
    }
    mat-icon {
      font-size: 1rem;
      color: $black-light;
    }
  }

  &.mat-focused {
    .mat-input-suffix.mat-form-field-suffix {
      button.mat-icon-button {
        mat-icon {
          font-size: 1rem;
          color: $black-medium;
        }
      }
      mat-icon {
        font-size: 1rem;
        color: $black-medium;
      }
    }
  }
}


mat-form-field.table--inline {
  max-width: 100%;
  input[type="number"] {
    text-align: right;
  }
  .mat-input-underline {
    display: none;
  }
  .mat-input-subscript-wrapper {
    display: none;
  }
  .mat-input-placeholder-wrapper.mat-form-field-placeholder-wrapper {
    height: 3em;
    text-align: right;
    max-width: 97%;
  }
}

.sto-form {

  .mat-form-field {
    margin-top: 8px;
    height: 72px;
  }
  .mat-form-field-subscript-wrapper {
    font-size: 11px;
    margin: 8px 0;
  }
  .mat-form-field-infix {
    padding: 8px 0 4px 0;
  }
  .mat-form-field-invalid .mat-form-field-ripple{
    height: 2px;
  }
}

.sto-form-field--readonly{
  .mat-form-field-underline {
    display: none;
    visibility: hidden;
  }
  &.ng-invalid.ng-dirty {
    .mat-input-subscript-wrapper.mat-form-field-subscript-wrapper {
      margin-top: -1px;
    }
  }
}

//Don't know how to overwrite this without important O_o
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder{
  -webkit-transform: translateY(-1.28125em) scale(0.8461538461538462) perspective(100px) translateZ(0.001px)  !important;;
  transform: translateY(-1.28125em) scale(0.8461538461538462) perspective(100px) translateZ(0.001px)  !important;;
  -ms-transform: translateY(-1.28125em) scale(0.8461538461538462) !important;
}

//END STO-FORM

// Line height date range picker
.sto-daterange-wrapper {
  .mat-input-infix {
    line-height: 1;
  }
}


/**STO-TOOLBAR-PANEL **/
.mat-menu-panel.sto-toolbar-panel {
  padding: 0;
  max-width: spacer(80);
  min-width: spacer(80);
}

.sto-toolbar-panel {

  .mat-menu-content {
    padding: 0;
  }

  &__content {
    width: 100%;
    max-height: spacer(40);
    min-height: 36px;
    overflow-y: auto;

    &__message {
      padding: spacer(2) spacer(2);
      display: inline-block;

    }
  }
  &__actions {
    border-top: solid 1px $gray-medium;
    padding: spacer(2);

    .mat-button, .mat-raised-button {
      padding: 0 spacer(2);
      min-width: spacer(16);
    }

  }
}

.mat-button.selected {
  .mat-button-focus-overlay {
    opacity: 1;
  }
}

/**
To make an icon appear as a button
 */
.mat__icon--clickable {
  cursor: pointer;
}