// Base Colors
// NO MORE THAN 3 shades of each color.
// Exception: 5 shades of gray.

$orange-medium: orange;
$red-medium: red;

$yellow-light: #FFFFCC;

$white-light: #FFFFFF;
$white-medium: #FAFAFA;

$gray-darker: #666666;
$gray-dark: #828282;
$gray-medium: #CCCCCC;
$gray-light: #EFEFEF;
$gray-lighter: #F1F2F3;

$green-dark: #0A6666;
$green-light: #D4DDD3;


$header-bg-color: $gray-light;
$content-bg-color: $white-medium;
$content-bg-color-highlight: $gray-medium;
$text-color: $gray-darker;
$header-color: $gray-darker;
$subtle-color: $gray-dark;



