<div [ngClass]="'ui-tabview ui-widget ui-widget-content ui-corner-all ui-tabview-' + orientation" [ngStyle]="style" [class]="styleClass">
    <ul sto-tabview-nav role="tablist" *ngIf="orientation!='bottom'" [tabs]="tabs" [orientation]="orientation"
        (onTabClick)="open($event.originalEvent, $event.tab)" (onTabCloseClick)="close($event.originalEvent, $event.tab)"></ul>
    <div class="ui-tabview-panels">
        <ng-content></ng-content>
    </div>
    <ul sto-tabview-nav role="tablist" *ngIf="orientation=='bottom'" [tabs]="tabs" [orientation]="orientation"
        (onTabClick)="open($event.originalEvent, $event.tab)" (onTabCloseClick)="close($event.originalEvent, $event.tab)"></ul>
</div>