`
<td *ngFor="let col of columns" [ngStyle]="col.style" [class]="col.styleClass"
    [attr.colspan]="col.colspan" [attr.rowspan]="col.rowspan"
    [ngClass]="{'ui-state-default':true}" [style.display]="col.hidden ? 'none' : 'table-cell'">
    <span class="ui-column-footer" *ngIf="!col.footerTemplate">{{col.footer}}</span>
    <span class="ui-column-footer" *ngIf="col.footerTemplate">
                <sto-columnFooterTemplateLoader [column]="col"></sto-columnFooterTemplateLoader>
            </span>
</td>
`