<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Filter panel">
    <app-filter></app-filter>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Documentation</mat-expansion-panel-header>
      <div class="docs"
           style="white-space: pre-line"
           [innerHTML]="docs[0]"></div>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="Message panel + confirm dialog">
    <div class="sto-grid sto-grid--3 sto-message-panel__container">
      <div class="sto-grid__column">
        <sto-message-panel severity="warning">
          <p>Warning</p>
        </sto-message-panel>
      </div>
      <div class="sto-grid__column">
        <sto-message-panel severity="error">
          <p>Error</p>
        </sto-message-panel>
      </div>
      <div class="sto-grid__column">
        <sto-message-panel severity="info">
          <p>Info</p>
        </sto-message-panel>
      </div>
      <div class="sto-grid__column">
        <sto-message-panel [severity]="severity">
          <p>Dynamic severity</p>
          <button mat-button
                  (click)="severity = 'warning'">Warning
          </button>
          <button mat-button
                  (click)="severity = 'error'">Error
          </button>
          <button mat-button
                  (click)="severity = 'info'">Info
          </button>
        </sto-message-panel>
      </div>
      <div class="sto-grid__column">
        <sto-message-panel [dismissable]="true"
                           (dismissed)="onDismiss()"
                           severity="error">
          <p>Dismissible error</p>
        </sto-message-panel>
      </div>
    </div>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Documentation</mat-expansion-panel-header>
      <div class="docs"
           style="white-space: pre-line"
           [innerHTML]="docs[1]"></div>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab label="Fixed action footer">

    <sto-action-footer [isLoading]="loading">
      <button color="primary"
              mat-button>Save
      </button>
      <button color="warn"
              (click)="loading = !loading"
              mat-button>Toggle loading
      </button>
    </sto-action-footer>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Documentation</mat-expansion-panel-header>
      <div class="docs"
           style="white-space: pre-line"
           [innerHTML]="docs[2]"></div>
    </mat-expansion-panel>
  </mat-tab>
</mat-tab-group>


