:host {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
    outline: 0;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
}