@import "sto-typography/sto-typography";
@import "sto-table/sto-table";
@import "sto-button/sto-button";

$filter-spacing: 1rem;
$filter-min-width: $filter-spacing*12;

.ui-state-disabled *, .ui-widget:disabled * {
  cursor: no-drop !important;
}