<div [ngClass]="{'ui-button ui-togglebutton ui-widget ui-state-default ui-corner-all': true, 'ui-button-text-only': (!onIcon&&!offIcon), 'ui-button-text-icon-left': (onIcon&&offIcon),
        'ui-state-active': checked,'ui-state-focus':focus,'ui-state-disabled':disabled}" [ngStyle]="style" [class]="styleClass"
        (click)="toggle($event)">
    <div class="ui-helper-hidden-accessible">
        <input #checkbox type="checkbox" [attr.id]="inputId" [checked]="checked" (focus)="onFocus()" (blur)="onBlur()" [attr.tabindex]="tabindex">
    </div>
    <span *ngIf="onIcon||offIcon" [class]="getIconClass()"></span>
    <span class="ui-button-text ui-unselectable-text">{{checked ? onLabel : offLabel}}</span>
</div>
