<mat-form-field class="sto-form__field"
                [class.mat-form-field-invalid]="searchControl.touched && errors"
                [floatPlaceholder]="label ? 'always' : 'auto'"
>
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput
         (blur)="parent.markAsTouched()"
         [matAutocomplete]="searchList"
         (keyup.enter)="onEnter($event)"
         [placeholder]="placeholder ? placeholder : ''"
         #searchInput
         [formControl]="searchControl">
  <mat-hint [class.mat-error]="searchControl.touched && errors">
    <ng-container *ngIf="searchControl.touched && errors; else info">
      <span *ngIf="errors.required">Field is required</span>
      <span *ngIf="errors.optionSelected">{{ validationMessage }}</span>
    </ng-container>
    <ng-template #info>{{ helpText }}</ng-template>
  </mat-hint>
  <mat-autocomplete #searchList="matAutocomplete"
                    [displayWith]="displayFn"
                    (optionSelected)="onSelect($event)"

  >
    <mat-option *ngFor="let item of filtered$ | async" [value]="item">
      {{ displayFn(item) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
