@import "sto-button-core.directive";
@import "sto-button-theme.directive";


/**
Not certain if this should be in core or theme.
 */
/*
.ui-button.ui-button-text-only.ui-state-default {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #373a3c;
}*/
