.ui-menu {
    width: 12.5em;
    padding: .25em;
    position:relative;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu-list {
    position: static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border: none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width: 100%;
    margin: .125em 0;
    padding: .25em .5em;
}

.ui-menu .ui-menuitem-parent,
.ui-menu .ui-menuitem {
    width: 100%;
    clear: both;
    margin: .125em 0;
    padding: 0;
}

.ui-menu .ui-menuitem-link {
    display: block;
    width: 100%;
    outline: none;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid transparent;
    line-height: 1em;
    padding: .25em;
    cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display: inline-block;
    vertical-align: middle;
}

.ui-menu .ui-menuitem-text {
    vertical-align: middle;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    font-size: 1em;
    margin: 0 auto;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    display: none;
    width: 12.5em;
    padding: .25em;
    position:absolute;
    margin: 0;
    outline: 0;
    text-decoration:none;
    list-style:none;
}

.ui-menu .ui-menu-parent {
    position: relative;
}

.ui-menu .ui-menu-parent .ui-submenu-icon {
    float: right;
    margin-right: -.25em;
}