<div style="width: 50vw">
  <form [formGroup]="form"
        class="sto-form sto-grid sto-grid--3">
    <mat-form-field class="sto-form__field sto-grid__column">
      <mat-label>Single select</mat-label>
      <mat-select
        stoIgnoreMenuBackdrop
        formControlName="select">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="sto-form__field sto-grid__column">
      <mat-label>Multi select w/filter</mat-label>
      <mat-select panelClass="sto-select sto-select--has-filter"
                  stoIgnoreMenuBackdrop
                  [multiple]="true"
                  [compareWith]="compareSelection"
                  formControlName="multi">
        <sto-select-filter
          [value]="filterText"
          [isFilter]="true"
          [isMulti]="true"
          [total]="opts.length"
          [selected]="form.get('multi').value.length"
          (valueChanges)="onSelectFilterChange($event)"
          (selectAll)="onSelectAll($event)"
          (keydown.space)="$event.stopPropagation()"
        ></sto-select-filter>
        <mat-option *ngFor="let o of filterOpts"
                    [value]="o">{{o}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <sto-number-input class="sto-grid__column"
                      label="Number"
                      textAlign="left"
                      placeholder="Formatted numbers"
                      formControlName="number"></sto-number-input>
    <div class="sto-grid__column">
      <sto-daterange inputStyleClass="sto-form__field"
                     [showPickersOnFocus]="true"
                     formControlName="dateRange"
                     placeholder="Date range"></sto-daterange>
    </div>
    <mat-form-field class="sto-form__field sto-grid__column"
                    [stoMonthFormFieldClick]="monthPicker">
      <input matInput
             placeholder="Month picker"
             [mdMonthpicker]="monthPicker"
             formControlName="month">
      <md-monthpicker-toggle matSuffix
                             [for]="monthPicker"></md-monthpicker-toggle>
      <md-monthpicker #monthPicker></md-monthpicker>
    </mat-form-field>
    <sto-slide-toggle class="sto-grid__column" formControlName="slideToggle" label="Slide toggle"></sto-slide-toggle>
    <div class="sto-grid__column">
      <sto-daterange [minDate]="minDate" [maxDate]="maxDate" placeholder="Month range" [monthRange]="true" formControlName="monthRange"></sto-daterange>
    </div>
  </form>
</div>
