@import "../../variables";

.sto-daterange {
  @include mat-elevation(8);
  border-radius: 2px;
  background-color: $white-light;
  width: 744px;
  max-height: 332px;
  padding: 0px;
  position: absolute;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
  .calendar-box {
    &:first-of-type {
      margin-left: 16px;
    }
    flex-grow: 1;
    margin-right: 16px;
    margin-bottom: 16px;
    .sto-calendar__inline {
      width: 232px;
      max-width: 232px;
    }
  }
  .actions {
    flex-grow: 1;
    margin-top: 16px;
    margin-right: 16px;
    .action-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .spacer {
        flex: 1 1 auto;
      }
      .sto-daterange__button--container {
        padding-bottom: 8px;
        &.sto-daterange__button--container--actions {
          text-align: right;
        }
      }
      .sto-daterange__error--container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        background-color: $red-light;
        height: 48px;
        border-radius: 2px;
        opacity: 0.9;
        span {
          line-height: 24px;
        }
        .mat-icon {
          color: $red-medium;
          margin-right: 8px;
          margin-left: 8px;
        }
      }
    }
  }
  mat-form-field.sto-daterange__form-field--small {
    width: 93px;
    background: rgba(0, 135, 184, 0.1);
    border-radius: 2px;
    height: 42px;
    .mat-form-field-flex {
      padding: 6px 6px 0;
    }
    input {
      color: #000000;
    }
    .mat-error {
      margin-left: 6px;
      font-size: 11px;
    }
    flex-grow: 1;
    &.left {
      margin-right: 4px;
    }
    &.right {
      margin-left: 4px;
    }
  }
}


.mat-input-suffix {
  font-size: inherit;
  mat-icon {
    font-size: inherit;
  }
}
.sto-daterange{
  .mat-calendar-controls{
    margin: 0 calc(33% / 7 - 16px)
  }
}

// Line height date range picker
.sto-daterange-wrapper {
  .mat-form-field-infix {
    line-height: 1;
  }
}
