$form-field-bg: rgba(0, 135, 184, 0.1);
$underline-color: rgba(0, 0, 0, 0.12);
$border-radius: 4px;
$height: 72px;

%sto-form__field {
  width: 100%;
  min-height: $height;

  .mat-input-element {
    cursor: pointer;
    overflow: hidden;
  }
}

%sto-card {
  width: 100%;
  padding: 16px 8px 0 8px;
  margin-bottom: 8px;
  border-radius: $border-radius;
}


%sto-form__field--focused {
  .mat-input-suffix.mat-form-field-suffix {
    .mat-icon-button {
      .mat-icon {
        color: $black-medium;
      }
    }
    .mat-icon {
      color: $black-medium;
    }
  }
  .mat-form-field-underline {
    bottom: 16px;
    heigth: 2px;
    background-color: transparent;
    -webkit-transition-property: background-color width left;
    -webkit-transition-delay: 0.2s;
    width: calc(100% - 2px);
    left: 1px;

    .mat-form-field-ripple {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      top: 0px;

    }
  }
}

%sto-form__select {
  .mat-select-arrow {
    margin-top:-10px;
  }
}

.mat-card.sto-card {
  @extend %sto-card;


  .mat-card-title.sto-card__title {
    width: 100%;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    h1, h2, h3 {
      display: inline-block;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
  .sto-card__button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .mat-button{
      margin-top: -8px;
    }

  }

}

@mixin mat-input-hover-effect($background-color, $underline-color){
    .mat-input-flex.mat-form-field-flex{
        &:hover {
           background-color: $background-color;
        }
        &:hover + .mat-form-field-underline{
                background-color: $underline-color;
        }
    }
}

.sto-form {
  &__field {
    cursor: pointer;
    @extend %sto-form__field;

    &.mat-focused {
      @extend %sto-form__field--focused;
       &.sto-form__field--disabled{
         .mat-form-field-underline{
           .mat-form-field-ripple {
             display:none;
            }
          }
       }
    }

   @include mat-input-hover-effect(rgba(0, 135, 184, 0.15), rgba(0, 0, 0, 0.25));
   &.sto-form__field--readonly{
      cursor: default;
      @include mat-input-hover-effect(transparent, transparent);
   }
   &.sto-form__field--disabled{
     cursor: default;
     @include mat-input-hover-effect(rgba(0, 0, 0, 0.08), transparent);
        .mat-input-element{
            cursor: default;
        }
    }

    .mat-input-flex.mat-form-field-flex {
      padding: 6px;
      border-radius: 4px;
      background-color: $form-field-bg;
      align-items: center;
      .mat-icon-button {
        .mat-icon {
          font-size: 1rem;
          color: $black-light;
        }
      }
      .mat-icon {
        color: $black-light;
      }


    }

    .mat-form-field-subscript-wrapper {
      font-size: 11px;
      margin: 6px;
    }
    .mat-input-wrapper, .mat-form-field-wrapper {
      margin: 0 2px;
    }
    .mat-form-field-infix {
      padding: 6px 0 0 0;
    }
    .mat-form-field-suffix {

      height: 18px;
      > span {
        display: inline-block;
        margin-top: 0.8em;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .mat-form-field-invalid .mat-form-field-ripple {
      height: 2px;
    }

    .mat-slide-toggle {
      position: absolute;
      top: 0;
      right: 4px;
    }

    .mat-radio-button{
        margin-right: 16px;
        &:last-child(){
            margin-right: 0px;
        }
    }

    .mat-select {
      @extend %sto-form__select;
    }
  }

  .mat-form-field-underline {
    bottom: 16px;
    height: 2px;
    width: calc(100% - 2px);
    left: 1px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $underline-color;

     .mat-form-field-ripple {
          height: 2px;
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          top: 0px;
       }
  }

  &__color {
    position: absolute;
    top: -8px;
    right: 4px;
    height: 30px;
    width: 30px;
    border: 0;
    padding: 0;
    background-color: transparent;
  }


}

//Readonly
.sto-form__field--readonly {

  .mat-input-element {
    cursor: default;
  }
  .mat-input-flex.mat-form-field-flex {
    background-color: transparent;
  }
  :hover{
    .mat-input-flex.mat-form-field-flex {
         background-color: transparent;
      }
      .mat-form-field-underline{
         background-color: transparent;
      }
  }

  .mat-form-field-underline {
    display: none;
    visibility: hidden;
  }
  &.ng-invalid.ng-dirty {
    .mat-input-subscript-wrapper.mat-form-field-subscript-wrapper {
      margin-top: -1px;
    }
  }
}

.sto-form__field--disabled {

  .mat-select.mat-select-disabled{
    .mat-select-trigger{
      user-select: all;
    }
    .mat-select-arrow{
      color: rgba(0, 0, 0, 0.38);
    }
  }

  .mat-form-field-underline{
       display: block;
       visibility: visible;
            background-color: rgba(0, 0, 0, 0.12);
   }



  .mat-input-flex.mat-form-field-flex {
    cursor: default;
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.sto-form__field--without-placeholder{
  height: 0px;
  .mat-input-flex, mat-form-field-flex{
    height: 30px;
  }
  .mat-input-infix, mat-form-field-infix{
    border-top-width: 0px;
    padding: 0;

  }
  .mat-select{
    .mat-select-arrow{
        margin-top: 0px;
    }
  }

  .mat-form-field-placeholder{
    top: 0;
  }
  .mat-form-field-placeholder-wrapper{
    top: 0;
    padding: 0;
  }

}

.sto-form{
  &__input{
    &--color{
        cursor: pointer;
        margin-top: -5px;
        padding: 0;
        background-color: transparent;
        border-color: transparent;
        width: 28px;
        height: 30px;

        &::-webkit-color-swatch {
            border-radius: 4px;
            border-color: rgba(0,0,0,0.42);
        }
    }
  }
}
