<!--
<sto-complex-datatable
  #table
  class="sto-datatable expandable sto-datatable__overview"
  [columnMode]="'fixed'"
  [height]="800"
  [headerHeight]="80"
  [rowHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [loadingIndicator]="!ready"
  [rows]="lines"
  [columns]="columns"
>
  <ngx-datatable-group *ngFor="let columnGroup of columnGroups"
                       [name]="columnGroup.name"
                       [headerClass]="columnGroup.headerClass"
                       [headerTemplate]="columnGroup.headerTemplate"
                       [frozenLeft]="columnGroup.frozenLeft"
                       [properties]="columnGroup.props">
  </ngx-datatable-group>


</sto-complex-datatable>
-->

<sto-message-panel severity="error">
  OMG ERROR
</sto-message-panel>
