.ui-selectbutton.ui-buttonset .ui-button {
    background-color: #ffffff;
    border-color: #cccccc;
}
.ui-selectbutton.ui-buttonset .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #e6e6e6;
    color: #373a3c;
}
.ui-selectbutton.ui-buttonset .ui-button.ui-state-active {
    background-color: #0275d8;
    color: #ffffff;
}