//Grid
.sto-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__divider {
    width: 100%;
    flex-grow: 1;
  }
  &--2 {
    .sto-grid__spacer, .sto-grid__column {
      display: inline-block;
      width: calc(50% - 10px);
      margin-right: 16px;
      &:nth-child(2n+0) {
        margin-right: 0;
      }
    }
  }

  &--3 {
     .sto-grid__spacer, .sto-grid__column {
       width: calc(33.3% - 11px);
       margin-right: 16px;
       &:nth-child(3n+0) {
         margin-right: 0;
       }
     }
   }

  &--4 {
    .sto-grid__spacer, .sto-grid__column {
      width: calc(25% - 11px);
      margin-right: 16px;
      &:nth-child(4n+0) {
        margin-right: 0;
      }
    }
  }

  &--6 {
    .sto-grid__spacer, .sto-grid__column {
      width: calc(16.6% - 14px);
      margin-right: 16px;
      &:nth-child(6n+0) {
        margin-right: 0;
      }
    }
  }
  &--2, &--3, &--6 {
    .sto-grid__column--full {
      margin-right: 0;
      width: 100%;
      .sto-form__field {
        width: 100%;
      }
    }
  }
}


