.ui-datepicker {
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  padding: .75em 0;
  background-color: #f5f5f5;
  border: 0;
  border-bottom: 1px solid #c7c7c7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  cursor: pointer;
  color: #767b7f;
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  top: 1.25em;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
  content: "";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover {
  color: #2d353c;
}
.ui-datepicker.ui-datepicker-inline {
  display: block !important;
  position: static;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  color: #767b7f;
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  top: 1.25em;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
  content: "";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover {
  color: #2d353c;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: .125em;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker table {
  font-size: 1em;
}
.ui-datepicker table td a {
  min-width: 1em;
  text-align: center;
  color: #373a3c;
  font-size: .9em;
}
.ui-datepicker table td a:hover {
  background-color: #f4f3f4;
}
.ui-datepicker table td a.ui-state-highlight {
  color: #373a3c;
  background-color: #e6e6e6;
}
.ui-datepicker table td a.ui-state-active {
  color: #ffffff;
  background-color: #0275d8;
}
.ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
  background-color: #f4f3f4;
}
.ui-trigger-calendar .ui-datepicker-trigger.ui-button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-datepicker {
  width: 17em;
  padding: .2em;
  display: none;
  position: absolute;
}
.ui-datepicker.ui-datepicker-inline {
  display: block;
  position: static;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: .125em;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
  left: .125em;
}
.ui-datepicker .ui-datepicker-next {
  right: .125em;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.5em;
}
.ui-datepicker .ui-datepicker-prev span {
  margin-left: -.25em;
}
.ui-datepicker .ui-datepicker-next span {
  margin-left: -.125em;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: .125em 0;
}
.ui-datepicker select.ui-datepicker-month {
  width: 55%;
}
.ui-datepicker select.ui-datepicker-year {
  width: 35%;
}
.ui-datepicker select.ui-datepicker-month {
  margin-right: .25em;
}