
.ui-spinner .ui-spinner-button {
    z-index: auto;
    box-sizing: border-box;
}
.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:hover {
    background-color: #0267bf;
    color: #ffffff;
}
.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:active {
    background-color: #025aa5;
    color: #ffffff;
}
.ui-slider {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.ui-slider.ui-slider-horizontal .ui-slider-handle {
    top: -.2em;
}
.ui-slider.ui-slider-vertical .ui-slider-handle {
    left: -.2em;
}
.ui-slider .ui-slider-handle {
    background-color: #0275d8;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.ui-slider.ui-slider-animate .ui-slider-handle {
    -moz-transition: background-color 0.3s,left 0.3s;
    -o-transition: background-color 0.3s,left 0.3s;
    -webkit-transition: background-color 0.3s,left 0.3s;
    transition: background-color 0.3s,left 0.3s;
}
.ui-slider .ui-slider-handle:hover {
    background-color: #0267bf;
}
.ui-slider .ui-slider-range {
    background: #43a7fd;
}