<div [ngClass]="'ui-fileupload ui-widget'" [ngStyle]="style" [class]="styleClass">
  <div class="ui-fileupload-buttonbar ui-widget-header ui-corner-top">
    <button type="button" [label]="chooseLabel" icon="fa-plus" stoButton class="ui-fileupload-choose" (click)="onChooseClick($event, fileinput)" [disabled]="disabled">
      <input #fileinput type="file" (change)="onFileSelect($event)" [multiple]="multiple" [accept]="accept" [disabled]="disabled">
    </button>

    <button *ngIf="!auto" type="button" [label]="uploadLabel" icon="fa-upload" stoButton (click)="upload()" [disabled]="!hasFiles()"></button>
    <button *ngIf="!auto" type="button" [label]="cancelLabel" icon="fa-close" stoButton (click)="clear()" [disabled]="!hasFiles()"></button>

    <p-templateLoader [template]="toolbarTemplate"></p-templateLoader>
  </div>
  <div [ngClass]="{'ui-fileupload-content ui-widget-content ui-corner-bottom':true,'ui-fileupload-highlight':dragHighlight}"
       (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
    <p-progressBar [value]="progress" [showValue]="false" *ngIf="hasFiles()"></p-progressBar>

    <p-messages [value]="msgs"></p-messages>

    <div class="ui-fileupload-files" *ngIf="hasFiles()">
      <div *ngIf="!fileTemplate">
        <div class="ui-fileupload-row" *ngFor="let file of files; let i = index;">
          <div><img [src]="file.objectURL" *ngIf="isImage(file)" [width]="previewWidth" /></div>
          <div>{{file.name}}</div>
          <div>{{formatSize(file.size)}}</div>
          <div><button type="button" icon="fa-close" stoButton (click)="remove(i)"></button></div>
        </div>
      </div>
      <div *ngIf="fileTemplate">
        <ng-template ngFor [ngForOf]="files" [ngForTemplate]="fileTemplate"></ng-template>
      </div>
    </div>

    <p-templateLoader [template]="contentTemplate"></p-templateLoader>
  </div>
</div>
