@import "../../variables";

.mat-card {
  &.can-edit {
    &.is-highlighted {
      @include mat-elevation(8);
    }
    &:hover {
      @include mat-elevation(8);
      .is-editable-button {
        visibility: visible;
      }
    }
  }
  .is-editable-button {
    visibility: hidden;
    float: right;
    pointer: default;
  }
}