@import "_ngx-datatable-core";
@import "_ngx-datatable-material";

//colors: datatable
$warning-color: $orange-medium;
$error-color: $red-medium;
$tentative-color: $gray-light;
$planned-color: $yellow-light;
$actual-color: $green-light;
$day-color: $green-dark;

$border-color-light: $gray-medium;
$border-color-dark: $gray-dark;

$datatable-cell-color: $black-medium;
$datatable-background-color: $white-light;
$datatable-font-size: $font-size;
$datatable-header-background: $white-light;
$datatable-header-vertical-padding: $space-2x;
$datatable-header-horizontal-padding: $space-4x;
$datatable-vertical-padding: $space-2x;
$datatable-horizontal-padding: $space-4x;

$content-height: 20px;

.ngx-datatable.stoui {
  background: $datatable-background-color;
  font-size: $font-size;

  .datatable-header {
    border-top: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color-light;
    color: $black-light;

    .datatable-header-cell {
      padding: $datatable-header-vertical-padding $datatable-horizontal-padding;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      small {
        font-size: 10px;
      }


      .draggable::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        height: 60px;
        width: 60px;
        background: #eee;
        border-radius: 100%;
        opacity: 1;
        filter: none;
        transform: scale(0);
        z-index: 9999;
        pointer-events: none;
      }

      &.dragging {
        .resize-handle {
          border-right: none;
        }
      }
    }

    .resize-handle {
      border-right:solid 1px #eee;
    }

    .datatable-header-column-group {
      border-bottom: 1px solid $border-color-light;

      .datatable-header-cell {
        font-weight: bold;
        border-left: 1px solid $border-color-light;
      }
    }



    .datatable-row-left {
      background-color: $datatable-header-background;
      //border-right: 1px solid $border-color-dark;
    }

    .datatable-row-right {
      background-color: $datatable-header-background;
    }
  }
  .datatable-body {

    .datatable-body-cell-label {
      line-height: 20px;
    }
    .datatable-group-header {
      background: $datatable-header-background;
      border-bottom: solid 1px $border-color-light;
      border-top: solid 1px $border-color-light;
    }

    .datatable-row-wrapper:last-child {
      .datatable-body-row {
        .datatable-body-cell {
          border-bottom-width: 0;
        }
      }
    }

    .datatable-body-row {

      &.planned, &.tentative {
        font-style: italic;
      }

      .datatable-body-cell {
        border-bottom: 1px solid $border-color-light;
        padding: $datatable-vertical-padding $datatable-horizontal-padding;
        vertical-align: top;
        border-top: 0;
        color: $datatable-cell-color;
        transition: width 0.3s ease;
        font-size: $font-size;
        font-weight: $font-weight-normal;
        &.date-cell {
          padding: 0;
        }
        // cell active class
        // &.active {
        //  background: #0829e0
        // }
      }
      &.today-seperator {
        .datatable-body-cell {
          border-bottom: 3px solid $green-dark;

        }
      }

      .datatable-body-group-cell {
        text-align: left;
        padding: $datatable-vertical-padding $datatable-horizontal-padding;
        vertical-align: top;
        border-top: 0;
        color: $datatable-cell-color;
        transition: width 0.3s ease;
        font-size: $font-size;
        font-weight: $font-weight-normal;
      }
    }

    .datatable-row-left {
      background-color: $datatable-background-color;

      // border-right: 1px solid $border-color-dark;
    }

    .datatable-row-right {
      background-color: $datatable-background-color;
    }

    .datatable-footer-summary-row {
      .datatable-row {
        &-left, &-center, &-right {
          background-color: $datatable-header-background;
          border-top: 1px solid $border-color-dark;
        }
      }
    }

    .progress-linear {
      display: block;
      position: relative;
      width: 100%;
      height: 5px;
      padding: 0;
      margin: 0;
      position: absolute;

      .container {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 5px;
        -webkit-transform: translate(0,0) scale(1,1);
        transform: translate(0,0) scale(1,1);
        background-color: rgb(170,209,249);

        .bar {
          transition: all .2s linear;
          -webkit-animation: query .8s infinite cubic-bezier(.39,.575,.565,1);
          animation: query .8s infinite cubic-bezier(.39,.575,.565,1);

          transition: -webkit-transform .2s linear;
          transition: transform .2s linear;
          background-color: rgb(16,108,200);

          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 5px;
        }
      }
    }

  }

  .empty-row{
    height:50px;
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }

  .loading-row{
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }

  .datatable-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.54);

    .page-count{
      line-height: 50px;
      height:50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
      margin: 0 10px;

      li {
        vertical-align: middle;

        &.disabled a {
          color:rgba(0, 0, 0, 0.26) !important;
          background-color: transparent !important;
        }

        &.active a {
          background-color: rgba(158,158,158,0.2);
          font-weight: bold;
        }
      }

      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0 6px;
        border-radius: 3px;
        margin: 6px 3px;
        text-align: center;
        vertical-align: top;
        color: rgba(0,0,0,.54);
        text-decoration: none;
        vertical-align: bottom;

        &:hover {
          color: rgba(0,0,0,.75);
          background-color: rgba(158,158,158,0.2);
        }
      }

      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev{
        font-size:20px;
        line-height: 20px;
        padding:0 3px;
      }
    }
  }


  .negative-number{
    color: $error-color;
  }

  .icon {
    text-align: center;
  }
  .warning {
    color: $warning-color;
  }
  .error {
    color: $error-color;
  }

  .status {
    text-align: center;
    &.planned {
      background-color: $planned-color;
    }
    &.actual {
      background-color: $actual-color;
    }
    &.tentative {
      background-color: $tentative-color;
    }

  }

  .mat-icon{
    color: $black-light;
    height: $content-height;
    width:  $content-height;
    font-size: $content-height;
    cursor: pointer;
    &:hover{
      color: $black-medium;
    }

  }

  .group-seperator {
    border-left: solid 1px $border-color-light;
  }

  &.single-selection{
    .datatable-body-row{
      cursor: pointer;
    }
  }
}




.datatable-body-cell-label{
  > span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-select, .mat-input{
    padding:0;
    font-size: $font-size;
  }
  .mat-select-value{
    height: $content-height;
  }
  .mat-select-trigger{
    font-size: $font-size;
    height: $content-height;
  }
  .mat-form-field-infix{
    margin-top: -10px;
    padding: 0 9px 0px 0;

  }
  .mat-input-underline{
    display: none;
  }

  .mat-icon-button{
    margin-left: -16px;
    margin-top: -18px;
    height: 36px;
    width: 36px;
    line-height: 36px;
  }



}

.datatable-header{
  .mat-input-infix{
    padding: 0;
  }
}

.datatable-body-row.active{
  background-color: $gray-light;
}

.sto-datatable__column{
  &--number{
    text-align: right;
  }
  &--expandable{
      .icon-wrapper{
        display: inline-block;

        .mat-icon{
          margin-top: -5px;
        }
      }
  }
}
