@import "../../style/colors";


//colors: datatable
$warning-color: $mango-tango;
$tentative-color: $alto;
$planned-color: $yellow-light;
$actual-color: $rainee;
$day-color: $fern-green;

$datatable-row-hover-color: $porcelain;
$datatable-row-focus-color: $porcelain;
$datatable-row-focus-border-color: $alto;
$datatable-row-focus-hover-color: $porcelain;
$datatable-row-selected-color: $alto;
$datatable-row-selected-border-color: $black-26;

$border-color-light: $black-8;
$border-color-dark: $black-15;

$datatable-cell-color: $black-84;

$datatable-background-color: $white;
$datatable-font-size: $font-size;
$datatable-header-background: $white;
$datatable-header-vertical-padding: $space-2x;
$datatable-header-horizontal-padding: $space-2x;
$datatable-header-font-size: 11px;
$datatable-vertical-padding: $space-2x;
$datatable-horizontal-padding: $space-2x;

$content-height: 20px;