@import "../../style/colors";

$row-height: 24px;
$icon-height: 16px;


.sto-compact {
  .ngx-datatable.stoui, .ngx-datatable.stoui.inside-card {
    .datatable-body {
      .datatable-body-row{
        .datatable-body-cell{
          padding: 2px;

          &.date-cell{
            padding: 0px;
            small{
              display: none;
            }
          }

          .datatable-body-cell-label {
            .mat-icon-button {
              margin-left: 0;
              height: $row-height;
              width: $row-height;
              line-height: $row-height;
            }
          }

        }
      }
    }
    .datatable-header{
      .datatable-header-cell {
        padding: 4px 2px;
        .unit{
          visibility: hidden;
        }
        .column-group-header{
          &-icon{
            max-width: 8px;
            margin-right: 8px ;
            flex-grow: 1;
            .mat-icon{
              height: 12px;
              line-height: 12px;
            }
          }

        }

      }

    }

    .mat-icon{
      height: $icon-height;
      width: $icon-height;
      font-size: $icon-height;
      line-height: $icon-height;

    }
  }



  sto-datatable-fixed-row-wrapper{
    margin-top: 8px;
  }


  .date-status-cell {
    .month-label {
      line-height: 20px;
      position: absolute;
      left: 2px;
    }
  }

}
//ONLY inside cards
.sto-compact{
  .ngx-datatable.stoui.inside-card{
    .mat-icon{
      margin-top: 2px;
    }
  }
}
