
.ngx-datatable.sto-datatable__overview {

  .datatable-header-inner .datatable-row-left .datatable-header-column-group .datatable-header-cell {
    border-right: 1px solid $border-color-dark;
  }
  .datatable-footer-summary-row {
    .datatable-row-group.datatable-row-left .datatable-body-cell {
      border-right: 1px solid $border-color-dark;
      border-bottom-width: 0;
    }
    :hover {
      background-color: $datatable-background-color;
      cursor: default;
    }
    background-color: $datatable-background-color;
    .datatable-body-cell {
      background-color: $datatable-background-color;
    }
    .datatable-body-cell-label, span {
      cursor: text;
    }
  }

  .datatable-header-column-group {
    line-height: 11px;
    .mat-icon {
      height: 13px;
      width: 13px;
      line-height: 13px;
    }
  }
  .datatable-body-row {
    &.active, &.active:hover  {
      background-color: $header-bg-color;// !important;
      .datatable-row-group {
        background-color: $header-bg-color;
      }
    }
    &.month-row, &.month-row:hover {
      .datatable-row-group {
        background-color: $gray-lighter;
        cursor: auto;
        .datatable-body-cell-label {
          color: $black-light;
        }
      }
    }
    .datatable-row-left {
      background-color: $datatable-header-background;
    }
    .datatable-row-center {
      background-color: $datatable-header-background;
    }
    &:hover {
      .datatable-row-left {
        background-color: $white-medium;
      }
      .datatable-row-center {
        background-color: $white-medium;
      }
    }
  }

  .datatable-header {
    line-height: 11px;
    height: auto;
    border-top: 0px solid transparent;
    border-bottom: 1px solid $border-color-dark;
    color: $black-light;
  }

  .datatable-header-cell {

    line-height: 11px;
    padding: $datatable-header-vertical-padding $datatable-horizontal-padding;

    small {
      font-size: 10px;
    }
  }
}