@import "../../variables";

.sto-daterange__button--container {
  width: 100%;
  margin: 1em 2em;
}

.mat-input-suffix {
  font-size: inherit;
  mat-icon {
    font-size: inherit;
  }
}


.sto-daterange {
  @include mat-elevation(8);
  min-width: calc(17em * 4);
  background-color: $white-light;
  max-width: 50%;
  padding: .2em;
  position: absolute;
  margin-top: -1.3em;
}

.sto-daterange-wrapper {
  width: 19em;
  display: block;
}

.btn-group .btn {
  margin-left: -2px;
}

.sto-daterange-wrapper button.sto-datepicker-trigger {
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  width: 2em;
  border-left: 0 none;
}
