@import "../../variables";

.sto-daterange {
  @include mat-elevation(8);
  background-color: $white-light;
  width: 744px;
  max-height: 332px;
  padding: 0px;
  position: absolute;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .calendar-box {
    flex: 1;
    margin: -2px 0px 12px 12px;
  }
  .actions {
    flex: 1;
    .action-container {

      height: 100%;
      display: flex;
      padding-top: 1rem;
      margin-right: 1em;
      flex-direction: column;
      .spacer {
        flex: 1 1 auto;
      }
      .sto-daterange__button--container {
        padding-bottom: 1rem;
        align-content: right;
        &.sto-daterange__button--container--actions {
          text-align: right;
        }
      }
      .sto-daterange__error--container {
        text-align: center;
        text-align: center;
        margin-bottom: 1rem;
        background-color: $red-light;
        height: 48px;
        border-radius: 2px;
        opacity: 0.9;
        span {
          &::before {
            content: "error";
            font-family: "Material Icons";
            padding-right: 8px;
            color: red;
          }
          line-height: 48px;
        }
      }
    }
  }
  mat-form-field.sto-form-field--readonly {
    width: 93px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    height: 42px;
    input {
      text-align: center;
      color: #000000;
    }
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
}


.mat-input-suffix {
  font-size: inherit;
  mat-icon {
    font-size: inherit;
  }
}
.sto-daterange{
  .mat-calendar-controls{
    margin: 0 calc(33% / 7 - 16px)
  }
}
