<span [ngStyle]="style"
	  class="sto-daterange-wrapper ">
	<mat-form-field   [class]="inputStyleClass"
					(click)="onInputFocus(inputfield, $event)" [class.mat-focused]="focus">
		<input #inputfield matInput type="text" [value]="inputFieldValue"
			   readonly
			   (keydown.enter)="$event.preventDefault(); onInputFocus(inputfield, $event)"
			   (keydown.space)="onInputFocus(inputfield, $event)"
			   (focus)="focus = true" (click)="closeOverlay=false" (blur)="onInputBlur($event)"
			   [placeholder]="placeholder||''">
		<mat-icon *ngIf="showIcon"
				  matSuffix
				  style="cursor: default;">date_range</mat-icon>
	</mat-form-field>

	<div class="sto-daterange" #datepicker
		 [ngStyle]="{'display': overlayVisible ? 'flex' : 'none'}"
		 [formGroup]="form"
		 [@overlayState]="overlayVisible ? 'visible' : 'hidden'">
					<div class="calendar-box">
							<sto-inline-calendar [endDate]="form.value.end" formControlName="start"></sto-inline-calendar>
					</div>
					<div class="calendar-box">
							<sto-inline-calendar [startDate]="form.value.start" formControlName="end"></sto-inline-calendar>
					</div>
			<div class="actions sto-form">
				<div class="action-container">
					<div class="sto-daterange__button--container">
						<mat-form-field class="sto-form__field">
							<mat-select [value]="selected" placeholder="Date Range">
								<mat-select-trigger>
									{{ selectValue }}
								</mat-select-trigger>
								<mat-option [value]="0" (click)="tenWeeks()">-2 weeks – +8 weeks</mat-option>
								<mat-option [value]="1" (click)="periodPicker('month', '-')">Previous month</mat-option>
								<mat-option [value]="2" (click)="periodPicker('month', null)">This month</mat-option>
								<mat-option [value]="3" (click)="periodPicker('month', '+')">Next month</mat-option>
								<mat-option disabled [value]="4">Custom</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="sto-daterange__button--container">
						<div style="display: flex; flex-direction: row">
							<mat-form-field class="sto-daterange__form-field--small left">
								<input [formControl]="fromControl"
									   (blur)="inputChanged(fromControl, 'start')"
									   (keydown.enter)="$event.preventDefault(); inputChanged(fromControl, 'start')"
									   placeholder="From" matInput>
								<mat-error *ngIf="fromControl.hasError('invalidDate')">
									Invalid Date
								</mat-error>
							</mat-form-field>
							<mat-form-field class="sto-daterange__form-field--small right">
								<input [formControl]="toControl"
									   (blur)="inputChanged(toControl, 'end')"
									   (keydown.enter)="$event.preventDefault(); inputChanged(toControl, 'end')"
									   placeholder="To" matInput>
								<mat-error *ngIf="toControl.hasError('invalidDate')">
									Invalid Date
								</mat-error>
							</mat-form-field>
						</div>
					</div>

					<div class="spacer"></div>
					<div class="sto-daterange__error--container" *ngIf="error | async as message">
						<mat-icon>error</mat-icon>
						<span>{{ message }}</span>
					</div>
					<div class="sto-daterange__button--container sto-daterange__button--container--actions">
						<button type="button" class="dense" mat-button (click)="onCancel()" title="Cancel (esc)">Cancel</button>
						<button type="button" class="dense" [disabled]="form.invalid || (error | async)" mat-button
								color="primary" (click)="onSubmit()">Apply</button>
					</div>
				</div>
			</div>
	</div>
</span>
