@import "../../variables";

.sto-daterange__button--container {
  width: 100%;
  margin: 1em 2em;
}

.ui-daterange {
  @include mat-elevation(2);
  min-width: calc(17em * 4);
  background-color: $white-light;
  max-width: 50%;
  padding: .2em;
  position: absolute;
}

.ui-daterange-wrapper {
  width: 19em;
  display: block;
}

.btn-group .btn {
  margin-left: -2px;
}

.ui-daterange-wrapper button.ui-datepicker-trigger {
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  width: 2em;
  border-left: 0 none;
}

input.ui-inputtext {
  width: calc(100% - 2em);
}
