<div #container [ngClass]="{'ui-dialog ui-widget ui-widget-content ui-corner-all ui-shadow':true,'ui-dialog-rtl':rtl,'ui-dialog-draggable':draggable}" [ngStyle]="style" [class]="styleClass"
     [style.display]="visible ? 'block' : 'none'" [style.width.px]="width" [style.height.px]="height" (mousedown)="moveOnTop()" [@dialogState]="visible ? 'visible' : 'hidden'">
    <div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix ui-corner-top"
         (mousedown)="initDrag($event)" (mouseup)="endDrag($event)" *ngIf="showHeader">
        <span class="ui-dialog-title" *ngIf="header">{{header}}</span>
        <span class="ui-dialog-title" *ngIf="headerFacet">
                    <ng-content select="p-header"></ng-content>
                </span>
        <a *ngIf="closable" [ngClass]="{'ui-dialog-titlebar-icon ui-dialog-titlebar-close ui-corner-all':true}" href="#" role="button" (click)="close($event)">
            <span class="fa fa-fw fa-close"></span>
        </a>
    </div>
    <div #content class="ui-dialog-content ui-widget-content" [ngStyle]="contentStyle">
        <ng-content></ng-content>
    </div>
    <ng-content select="p-footer"></ng-content>
    <div *ngIf="resizable" class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"
         (mousedown)="initResize($event)"></div>
</div>