@import '~ngx-stoui/vendor/primeface/primeface';

$navbar-bg-color:  #1F252C;
$navbar-text-color:  #fff;

.sto-navbar{
    border-width: 0 0 1px;
    background-color: $navbar-bg-color;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    &__logo{
        float: left;
        padding: 0.5em 1em;
        line-height: 20px;
        height: 3em;
    }
}

.sto-navmenu{
    float:left;
    padding: .25em;
    position: relative;
    @extend .ui-menubar;
    @extend .ui-menu;
    @extend .ui-widget;
    @extend .ui-helper-clearfix;


}

.sto-navlist{
    @extend .ui-menu-list;
    @extend .ui-widget-content;
    @extend .ui-helper-clearfix;
    @extend .ui-menu-child;
    margin: 0;
    padding: 0;
    background-color:  $navbar-bg-color;

    .sto-navlist__item{
        width: 100%;
        white-space: nowrap;



    }

    &--root{
        > .sto-navlist__item{
            width: auto;
            float: left;



            > .sto-navlink{
                text-transform: uppercase;
                font-weight: bold;
                padding: 1em !important;
                color: $navbar-text-color;

                &:hover, &:focus{
                    > span {
                        color:yellow;
                    }
                }
            }
        }

    }

}

.sto-submenu-icon{

}

.sto-navlink {
    @extend .ui-menuitem-link;


    :hover{
        text-decoration: none;
    }

    &--active{
        background-color: darken($navbar-bg-color, 10%);
    }
}
//Temp bootstrap meny
.ui-submenu{

    border-radius: 0;
    .sto-navlist{
        width: auto !important;
        padding: 0.25em 0 !important;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;

        &__item {

            &:hover, &:focus {
                color: black;
                background-color: darken(#fff, 5%);
            }
        }
    }

    .sto-navlink {
        color: black;
        padding: 0.4em 1em 0.4em 1.5em;
        &--active {
            color: white;
            background-color: #337ab7;



        }


    }
}

