//Grid
.sto-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__divider {
    width: 100%;
    flex-grow: 1;
  }
  &--2 {
    .sto-grid__spacer, .sto-grid__column {
      display: inline-block;
      width: calc(50% - 8px);
      margin-right: 16px;
      float:left;

      &:nth-of-type(2n+0) {
        margin-right: 0;
      }
    }
  }

  &--3 {
     .sto-grid__spacer, .sto-grid__column {
       width: calc(33.3% - 11px);
       margin-right: 16px;
       float:left;

       &:nth-of-type(3n+0) {
         margin-right: 0;
       }
     }
   }

  &--4 {
      .sto-grid__spacer, .sto-grid__column {
        width: calc(25% - 12px);
        margin-right: 16px;
        float:left;

        &:nth-of-type(4n+0) {
          margin-right: 0;
        }
      }
  }

  &--6 {
    .sto-grid__spacer, .sto-grid__column {
      width: calc(16.6% - 14px);
      margin-right: 16px;
      float:left;

      &:nth-of-type(6n+0) {
        margin-right: 0;
      }
    }
  }
  &--2, &--3, &--6 {
    .sto-grid__column--full {
      margin-right: 0;
      width: 100%;
      .sto-form__field {
        width: 100%;
      }
    }
  }
  @media only screen  and (max-width : 1224px) {
    &--4 {
      .sto-grid__spacer, .sto-grid__column {
        width: calc(50% - 8px);

        &:nth-of-type(2n+0) {
          margin-right: 0;
        }
      }
    }
  }
}


/**
Flexible, dynamic grid
automatically resizes between 1 and 4 columns, depending on available space
Use with StoGridDirective
 */
.sto-f-grid {
  display: flex;
  flex-wrap: wrap;

  &__col {
    min-height: 24px;
    margin: 8px;
    overflow: hidden;

    &--spacer {
      visibility: hidden;
    }
  }

  &--1 {
    .sto-f-grid__col--spacer {
      display: none;
    }

    .sto-f-grid__col, .sto-f-grid__col--2 {
      flex: 1 1 calc(100% - 16px);
    }
  }

  &--2 {
    .sto-f-grid__col {
      flex: 1 1 calc(50% - 16px);
    }

    .sto-f-grid__col--2 {
      flex: 1 1 100%;

      &.sto-f-grid__col--spacer {
        display: none;

      }
    }
  }

  &--4 {
    .sto-f-grid__col {
      flex: 1 1 calc(25% - 16px);
    }

    .sto-f-grid__col--2 {
      flex: 1 1 calc(50% - 16px);
    }
  }

  &--6 {
    .sto-f-grid__col {
      flex: 1 1 calc(16.667% - 16px);
    }

    .sto-f-grid__col--2 {
      flex: 1 1 calc(16.667% - 16px);
    }
  }
}
