/**STO-TOOLBAR-PANEL **/
.mat-menu-panel.sto-toolbar-panel {
  padding: 0;
  max-width: spacer(80);
  min-width: spacer(80);
}

.sto-toolbar-panel {

  .mat-menu-content {
    padding: 0;
  }

  &__content {
    width: 100%;
    padding: spacer(2) 0;
    max-height: spacer(40);
    min-height: 36px;
    overflow-y: auto;

    &__message {
      padding: spacer(2) spacer(2);
      display: inline-block;

    }
  }
  &__actions {
    border-top: solid 1px $gray-medium;
    padding: spacer(2);
  }
}