/**STO-TOOLBAR-PANEL **/
.mat-menu-panel.sto-toolbar-panel {
  padding: 0;
  max-width: 80 * 4px;
  min-width: 80 * 4px;
}

.sto-toolbar-panel {

  .mat-menu-content {
    padding: 0;
  }

  &__content {
    width: 100%;
    padding: 2 * 4px 0;
    max-height: 40 * 4px;
    min-height: 36px;
    overflow-y: auto;

    &__message {
      padding: 2 * 4px 2 * 4px;
      display: inline-block;

    }
  }
  &__actions {
    border-top: solid 1px $gray-medium;
    padding: 2 * 4px;
  }
}
