<ng-template ngFor let-col [ngForOf]="columns" let-lastCol="last">
  <th #headerCell [ngStyle]="col.style" [class]="col.styleClass"
      [style.display]="col.hidden ? 'none' : 'table-cell'" (click)="dt.sort($event,col)"
      [attr.colspan]="col.colspan" [attr.rowspan]="col.rowspan"
      [ngClass]="{'ui-state-default ui-unselectable-text':true, 'ui-sortable-column': col.sortable, 'ui-state-active': dt.isSorted(col), 'ui-resizable-column': dt.resizableColumns, 'ui-selection-column':col.selectionMode}"
      (dragstart)="dt.onColumnDragStart($event)" (dragover)="dt.onColumnDragover($event)"
      (dragleave)="dt.onColumnDragleave($event)" (drop)="dt.onColumnDrop($event)"
      (mousedown)="dt.onHeaderMousedown($event,headerCell)"
      [attr.tabindex]="col.sortable ? tabindex : null" (keydown)="dt.onHeaderKeydown($event,col)">
			  <span class="ui-column-resizer"
                    *ngIf="dt.resizableColumns && ((dt.columnResizeMode == 'fit' && !lastCol) || dt.columnResizeMode == 'expand')"
                    (mousedown)="dt.initColumnResize($event)"></span>
    <span class="ui-column-title" *ngIf="!col.selectionMode&&!col.headerTemplate">{{col.header}}</span>
    <span class="ui-column-title" *ngIf="col.headerTemplate">
                    <p-columnHeaderTemplateLoader [column]="col"></p-columnHeaderTemplateLoader>
                </span>
    <span class="ui-sortable-column-icon fa fa-fw fa-sort" *ngIf="col.sortable"
          [ngClass]="{'fa-sort-desc': (dt.getSortOrder(col) == -1),'fa-sort-asc': (dt.getSortOrder(col) == 1)}"></span>
    <input [attr.type]="col.filterType"
           class="ui-column-filter ui-inputtext ui-widget ui-state-default ui-corner-all"
           [attr.placeholder]="col.filterPlaceholder" *ngIf="col.filter&&!col.filterTemplate"
           [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''"
           (click)="dt.onFilterInputClick($event)"
           (keyup)="dt.onFilterKeyup($event.target.value, col.field, col.filterMatchMode)"/>
    <p-columnFilterTemplateLoader [column]="col" *ngIf="col.filterTemplate"></p-columnFilterTemplateLoader>
    <sto-dtCheckbox *ngIf="col.selectionMode=='multiple'" (onChange)="dt.toggleRowsWithCheckbox($event)"
                    [checked]="dt.allSelected" [disabled]="dt.isEmpty()"></sto-dtCheckbox>
  </th>
</ng-template>