/* You can add global styles to this file, and also import other style files */
@import "../dist/stoui-core/ngx-stoui.css";
@import "../dist/stoui-core/variables";

@import "../dist/stoui-form/sto-form.css";
@import "~typeface-roboto/index.css";
@import "~highlight.js/styles/darcula.css";

.mat-button-toggle-label-content {
  //padding: 0 !important;
}

h1,h2,h3,h4,h5 {
  display: inline-block;
}

body {
  margin: 0;
}

.mat-button-toggle {
  &-standalone.mat-button-toggle-appearance-standard {
    color: $gray;
    border: 0;

    &:not(.mat-button-toggle-checked) {
      background: transparent;
    }
  }
}

.checked-row {
  background: red !important;
}

.unchecked-row {
  //background: blue !important;
}

.sto-card__subtitle {
  padding-left: 8px;
}


.sto-f-grid__col {
  //border: 1px solid gray;
}
