<ng-template ngFor let-rowData [ngForOf]="dt.dataToRender" let-even="even" let-odd="odd" let-rowIndex="index">
	<tr #rowGroupElement class="ui-widget-header ui-rowgroup-header"
		*ngIf="dt.rowGroupMode=='subheader' && (rowIndex === 0||(dt.resolveFieldData(rowData,dt.groupField) !== dt.resolveFieldData(dt.dataToRender[rowIndex - 1], dt.groupField)))"
		(click)="dt.onRowGroupClick($event)" [ngStyle]="{'cursor': dt.sortableRowGroup ? 'pointer' : 'auto'}">
		<td [attr.colspan]="columns.length">
			<a href="#" *ngIf="dt.expandableRowGroups" (click)="dt.toggleRowGroup($event,rowData)">
					  <span class="fa fa-fw"
							[ngClass]="{'fa-chevron-circle-down':dt.isRowGroupExpanded(rowData), 'fa-chevron-circle-right': !dt.isRowGroupExpanded(rowData)}"></span>
			</a>
			<span class="ui-rowgroup-header-name">
                        <sto-templateLoader [template]="dt.rowGroupHeaderTemplate" [data]="rowData"></sto-templateLoader>
                    </span>
		</td>
	</tr>
	<tr #rowElement *ngIf="!dt.expandableRowGroups||dt.isRowGroupExpanded(rowData)"
		[class]="dt.getRowStyleClass(rowData,rowIndex)"
		(click)="dt.handleRowClick($event, rowData)" (dblclick)="dt.rowDblclick($event,rowData)"
		(contextmenu)="dt.onRowRightClick($event,rowData)" (touchend)="dt.handleRowTouchEnd($event)"
		[ngClass]="{'ui-datatable-even':even&&dt.rowGroupMode!='rowspan','ui-datatable-odd':odd&&dt.rowGroupMode!='rowspan','ui-state-highlight': dt.isSelected(rowData)}">
		<ng-template ngFor let-col [ngForOf]="columns" let-colIndex="index">
			<td #cell *ngIf="!dt.rowGroupMode || (dt.rowGroupMode == 'subheader') ||
                        (dt.rowGroupMode=='rowspan' && ((dt.sortField==col.field && dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].index == rowIndex) || (dt.sortField!=col.field)))"
				[ngStyle]="col.style"
				[style.display]="col.hidden ? 'none' : 'table-cell'"
				[ngClass]="{'ui-editable-column':col.editable,'ui-selection-column':col.selectionMode}"
				[class]="dt.getCellStyleClass(rowData, col.field, col.styleClass)"
				(click)="dt.handleCellClick(cell,col,rowData)"
				[attr.rowspan]="(dt.rowGroupMode=='rowspan' && dt.sortField == col.field && dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].index == rowIndex) ? dt.rowGroupMetadata[dt.resolveFieldData(rowData,dt.sortField)].size : null">
				<span class="ui-column-title" *ngIf="dt.responsive">{{col.header}}</span>
				<span class="ui-cell-data"
					  *ngIf="!col.bodyTemplate && !col.expander && !col.selectionMode">{{dt.resolveFieldData(rowData, col.field)}}</span>
				<span class="ui-cell-data" *ngIf="col.bodyTemplate">
                            <sto-columnBodyTemplateLoader [column]="col" [rowData]="rowData"
														[rowIndex]="rowIndex + dt.first"></sto-columnBodyTemplateLoader>
                        </span>
				<div class="ui-cell-editor" *ngIf="col.editable">
					<input *ngIf="!col.editorTemplate" type="text" [(ngModel)]="rowData[col.field]"
						   required="true"
						   (keydown)="dt.onCellEditorKeydown($event, col, rowData, rowIndex)"
						   class="ui-inputtext ui-widget ui-state-default ui-corner-all"/>
					<a *ngIf="col.editorTemplate" class="ui-cell-editor-proxy-focus" href="#"
					   (focus)="dt.onCustomEditorFocusPrev($event, colIndex)"></a>
					<sto-columnEditorTemplateLoader *ngIf="col.editorTemplate" [column]="col" [rowData]="rowData"
												  [rowIndex]="rowIndex"></sto-columnEditorTemplateLoader>
					<a *ngIf="col.editorTemplate" class="ui-cell-editor-proxy-focus" href="#"
					   (focus)="dt.onCustomEditorFocusNext($event, colIndex)"></a>
				</div>
				<a href="#" *ngIf="col.expander" (click)="dt.toggleRow(rowData,$event)">
						  <span class="ui-row-toggler fa fa-fw ui-c"
								[ngClass]="{'fa-chevron-circle-down':dt.isRowExpanded(rowData), 'fa-chevron-circle-right': !dt.isRowExpanded(rowData)}"></span>
				</a>
				<sto-dtRadioButton *ngIf="col.selectionMode=='single'"
								   (onClick)="dt.selectRowWithRadio($event, rowData)"
								   [checked]="dt.isSelected(rowData)"></sto-dtRadioButton>
				<sto-dtCheckbox *ngIf="col.selectionMode=='multiple'"
								(onChange)="dt.toggleRowWithCheckbox($event,rowData)"
								[checked]="dt.isSelected(rowData)"></sto-dtCheckbox>
			</td>
		</ng-template>
	</tr>
	<tr class="ui-widget-header"
		*ngIf="dt.rowGroupFooterTemplate && dt.rowGroupMode=='subheader' && ((rowIndex === dt.dataToRender.length - 1)||(dt.resolveFieldData(rowData,dt.groupField) !== dt.resolveFieldData(dt.dataToRender[rowIndex + 1],dt.groupField))) && (!dt.expandableRowGroups || dt.isRowGroupExpanded(rowData))">
		<sto-templateLoader class="ui-helper-hidden" [data]="rowData"
						  [template]="dt.rowGroupFooterTemplate"></sto-templateLoader>
	</tr>
	<tr *ngIf="dt.expandableRows && dt.isRowExpanded(rowData)">
		<td [attr.colspan]="dt.visibleColumns().length">
			<sto-rowExpansionLoader [rowData]="rowData"
									[template]="dt.rowExpansionTemplate"></sto-rowExpansionLoader>
		</td>
	</tr>
</ng-template>

<tr *ngIf="dt.isEmpty()" class="ui-widget-content">
	<td [attr.colspan]="dt.visibleColumns().length" class="ui-datatable-emptymessage">{{dt.emptyMessage}}</td>
</tr>
