
.ui-multiselect {
  background: #ffffff;
  padding: 0.5em 0.75em;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.ui-multiselect .ui-multiselect-trigger {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui-multiselect:not(.ui-state-disabled):hover {
  color: #212121;
}
.ui-multiselect:not(.ui-state-disabled):hover .ui-multiselect-trigger {
  background-color: #d9d9d9;
}
.ui-multiselect .ui-multiselect-trigger .fa {
  margin-top: .8em;
}
.ui-multiselect:not(.ui-state-disabled) .ui-multiselect-trigger:hover {
  background-color: #d9d9d9;
}
.ui-multiselect .ui-multiselect-panel {
  padding: 0;
}
.ui-multiselect .ui-multiselect-header {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0.375em 0.75em;
}
.ui-multiselect .ui-multiselect-header .ui-multiselect-close {
  color: #373a3c;
}
.ui-multiselect .ui-multiselect-item {
  margin: 0;
  padding: 0.375em 0.75em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-multiselect .ui-multiselect-item:not(.ui-state-highlight):hover {
  background-color: #f4f3f4;
  color: #373a3c;
}
.ui-multiselect .ui-multiselect-item.ui-state-highlight {
  background-color: #0275d8;
  color: #ffffff;
}
.ui-multiselect .ui-multiselect-item.ui-state-highlight .ui-chkbox {
  border: 1px solid #108ffd;
}
.ui-multiselect .ui-multiselect-item > td {
  padding: 0.375em 0.75em;
}