<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="isOpened"
  [cdkConnectedOverlayOffsetX]="offsetX"
  [cdkConnectedOverlayOffsetY]="offsetY"
  (detach)="connectedOverlayDetach()">
  <div [@transformPanel]="isOpened ? 'showing' : null" #dialog class="sto-portal">
    <div #heading class="sto-portal__heading">
      <ng-content select="[quickViewHeader]"></ng-content>
    </div>
    <hr *ngIf="heading.children.length > 0" class="sto-portal__divider">
    <div class="sto-portal__body">
      <ng-content></ng-content>
    </div>
    <div class="sto-portal__footer" #footer>
      <ng-content select="[quickViewFooter]"></ng-content>
    </div>
  </div>
</ng-template>
