<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="isOpened"
  [cdkConnectedOverlayOffsetY]="-offsetY"
  (detach)="connectedOverlayDetach()">
  <div [@transformPanel]="isOpened ? 'showing' : null" #dialog class="sto-portal">
    <div #heading class="sto-portal__heading">
      <ng-content select="[quickViewHeader]"></ng-content>
    </div>
    <hr *ngIf="heading.children.length > 0" style="margin: 0; height: 0; border: 1px solid rgba(0, 0, 0, 0.08);">
    <div class="sto-portal__body">
      <ng-content></ng-content>
    </div>
    <div class="sto-portal__footer" #footer>
      <ng-content select="[quickViewFooter]"></ng-content>
    </div>
  </div>
</ng-template>
