@import '../../variables';
@import "../../style/functions";

%list-item-properties{
  width: 100%;
  text-transform: none;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 48px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: $black-medium;

}

.mat-list{
  &.sto-navigation {
  .mat-button-focus-overlay{
    background-color: rgba(0,0,0,0.06);
  }

   .mat-divider{
      margin-top: 15px;
      margin-bottom: 16px;
    }
    .mat-subheader{
      font-size: 13px;
      color: $black-light;
    }
    padding: 8px 0 0 0;

    .mat-list-item {
      background-color: $gray-lighter;
      padding: 0;
      cursor: pointer;
      font-weight: 500;

      .mat-button{
        @extend %list-item-properties;
      }

      .sto-navigation__item__text a{
        text-decoration: none;
        color: $black-medium;
        font-weight: 500;
      }

      .sto-navigation__suffix{
        padding: 12px 0;
        margin-right: 16px;
        float: right;
        line-height: 0;
        .mat-icon{
          padding: 0;
          width: 24px;
          color: rgba(0, 0, 0, 0.38);
        }
      }

      .mat-list-item-content {
        padding: 0;
      }
      .mat-icon {
        padding: 0px 32px 0px 16px;
        color: $black-light;
        line-height: 24px;
        svg{
          color: rgba(0,0,0,1);
          opacity: 0.54;
        }
      }
    }
  }
}

.sto-navigation__backdrop{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transition: opacity 0.4s  ease-in-out;;
  transform:translate(0);
  opacity: 0.25;
  cursor: pointer;
  background: black;
  z-index: 59;
}

.sto-navigation__backdrop--hidden {
  transform:translate(9999px);
  opacity: 0;
}

.sto-drawer{
  .sto-slide-panel{
    margin: -8px;
  }
}
// dropdown
.mat-list.sto-navigation{

  .mat-expansion-panel.sto-navigation__dropdown{
    box-shadow: none;
    background-color: transparent;
  }

  .mat-expansion-panel-header.sto-navigation__dropdown__header{
    padding: 0;
  }
  .mat-expansion-panel-header-title.sto-navigation__dropdown__title{
    @extend %list-item-properties;
  }

  .mat-expansion-indicator{
    margin-right: 24px;
    float: right;
    line-height: 0;
    &:after{
      padding: 4px;
      color: rgba(0, 0, 0, 0.38);
    }
  }

  .mat-expansion-panel-body{
    padding: 0;
    .sto-navigation__item__text{
      padding-left: 16px;
      font-weight: normal;
    }
  }

  .sto-navigation__prefix{
    display: inline-block;
    padding: 12px 35px 0 16px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 0;
  }
}