@import "../../vendor/bootstrap/variables";

.ui-datepicker {
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  padding: .75em 0;
  background-color: #f5f5f5;
  border: 0;
  border-bottom: 1px solid #c7c7c7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  cursor: pointer;
  color: #767b7f;
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  top: 1.25em;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
  content: "";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
  display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover {
  color: #2d353c;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  cursor: pointer;
  color: $gray-light;
  background: none !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  top: 1.25em;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
  content: "";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover {
  color: #2d353c;
}
.ui-datepicker table {
  font-size: 1em;
}
.ui-datepicker table td a {
  min-width: 1em;
  text-align: center;
  color: #373a3c;
  font-size: .9em;
}
.ui-datepicker table td a:hover {
  background-color: #f4f3f4;
}
.ui-datepicker table td a.ui-state-highlight {
  color: #373a3c;
  background-color: #e6e6e6;
}
.ui-datepicker table td a.ui-state-active {
  color: #ffffff;
  background-color: #0275d8;
}
.ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
  background-color: #f4f3f4;
}
.ui-trigger-calendar .ui-datepicker-trigger.ui-button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}