<span [ngClass]="{'ui-calendar':true,'ui-calendar-w-btn':showIcon}" [ngStyle]="style" [class]="styleClass">
            <ng-template [ngIf]="!inline">
                <input #inputfield type="text" [attr.id]="inputId" [attr.required]="required" [value]="inputFieldValue" (focus)="onInputFocus(inputfield, $event)" (keydown)="onInputKeydown($event)" (click)="closeOverlay=false" (blur)="onInputBlur($event)"
                       [readonly]="readonlyInput" (input)="onInput($event)" [ngStyle]="inputStyle" [class]="inputStyleClass" [placeholder]="placeholder||''" [disabled]="disabled" [attr.tabindex]="tabindex"
                       [ngClass]="'ui-inputtext ui-widget ui-state-default ui-corner-all'"
                ><button type="button" [icon]="icon" stoButton *ngIf="showIcon" (click)="onButtonClick($event,inputfield)"
                         [ngClass]="{'ui-datepicker-trigger':true,'ui-state-disabled':disabled}" [disabled]="disabled"></button>
            </ng-template>
            <div #datepicker class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" [ngClass]="{'ui-datepicker-inline':inline,'ui-shadow':!inline,'ui-state-disabled':disabled}"
                 [ngStyle]="{'display': inline ? 'inline-block' : (overlayVisible ? 'block' : 'none')}" (click)="onDatePickerClick($event)" [@overlayState]="inline ? 'visible' : (overlayVisible ? 'visible' : 'hidden')">

                <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" *ngIf="!timeOnly && (overlayVisible || inline)">
                    <ng-content select="sto-header"></ng-content>
                    <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="$event.preventDefault(); moveYear('-')">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="ui-datepicker-next ui-corner-all" href="#" (click)="$event.preventDefault(); moveYear('+')">
                        <span class="fa fa-angle-right"></span>
                    </a>
                    <div class="ui-datepicker-title">
                        <span class="ui-datepicker-year">{{currentYear}}</span>
                    </div>
                </div>
                <table class="ui-datepicker-calendar" *ngIf="overlayVisible || inline">
                    <tbody>
                    <tr *ngFor="let monthArr of months">
                      <td *ngFor="let month of monthArr">
                        <a class="ui-state-default" href="#"
                           style="margin: 1em"
                           [ngClass]="{'ui-state-active': isSelectedMonth(month.month),'ui-state-highlight':isCurrentMonth(month.month)}"
                           (click)="$event.preventDefault(); newMonth(month.month)">{{ month.label }}</a>
                      </td>
                    </tr>
                    </tbody>
                </table>
                <ng-content select="sto-header"></ng-content>
            </div>
        </span>
