<ng-container *ngIf="isFilter;else noFilter">
    <mat-form-field class="sto-form__field sto-form__field--without-placeholder" floatLabel="never" floatPlaceholder="never">

        <span matPrefix>
            <mat-checkbox color="primary"
           class="sto-select-filter__checkbox"
           #selectAll
           [formControl]="checkboxControl">
        </mat-checkbox>
        </span>
        <input [formControl]="inputControl"
               class="sto-select-filter__searchfield"
               autocomplete="off"
               placeholder="Search in list"
               matInput>
        <mat-icon *ngIf="inputControl.value?.length > 0"
                  class="mat__icon--clickable"
                  (click)="inputControl.reset()"
                  matSuffix>close</mat-icon>
        <mat-icon *ngIf="inputControl.value?.length <= 0"
                  matSuffix>search</mat-icon>
    </mat-form-field>
</ng-container>
<ng-template #noFilter>
    <div class="sto-select-filter__select-all mat-option">
        <mat-checkbox color="primary"
                      class="sto-select-filter__select-all__checkbox "
                      #selectAll

                      [formControl]="checkboxControl">
           All
        </mat-checkbox>
    </div>
</ng-template>



